<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Entry details</h2>
    </div>
    <form method="post" action="/upsert">
      {{#if entry}}
      <input type="hidden" name="id" value="{{entry.id}}" />
      {{/if}}
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
          <input class="mdl-textfield__input" type="text" name="date" value="{{entry.date}}">
          <label class="mdl-textfield__label" for="sample1">Date...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
          <input class="mdl-textfield__input" type="text" pattern="[0-9]*" name="hours" id="hours" value="{{entry.hours}}">
          <label class="mdl-textfield__label" for="sample1">Hours...</label>
          <span class="mdl-textfield__error">Must be a positive integer</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
          <input class="mdl-textfield__input" type="text" name="description" value="{{entry.description}}">
          <label class="mdl-textfield__label" for="sample1">Description...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
          <input class="mdl-textfield__input" type="text" pattern="[0-9]*(\.[0-9]+)?" name="rate" value="{{entry.rate}}">
          <label class="mdl-textfield__label" for="sample1">Rate (USD per hour)...</label>
          <span class="mdl-textfield__error">Must be a positive number</span>
        </div>

        {{#if entry}}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label block">
          <input class="mdl-textfield__input" type="text" pattern="PENDING|SHIPPED|DELIVERED" name="status" value="{{entry.status}}">
          <label class="mdl-textfield__label" for="sample1">Status...</label>
          <span class="mdl-textfield__error">Must be one of PENDING, SHIPPED, or DELIVERED</span>
        </div>
        {{/if}}
      </div>
      <div class="mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised">
          {{#if entry}}Save{{else}}Create{{/if}}
        </button>
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/">Cancel</a>
      </div>
    </form>
  </div>
</section>
